#<b>All About Data Type In Python</b> <br>
#1. Numeric Data<br>
#2. Boolean Data<br>
#3. Sequence Data<br>
#4. Set Data<br>
#5. Mapping Data<br>
#6. Data Frame<br>

#<b>3. Sequence Data Types</b><br>
#1. <b>Lists:</b> Lists are used to store multiple items in a single variable.<br>
#2. <b>Tuples:</b> Tuples are used to store multiple items in a single variable<br>
#3. <b>Range:</b> The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.<br>
#4. <b>Arrays:</b> Arrays are sequence types and behave very much like lists.<br>
#5. <b>String:</b> A string in Python is a sequence of characters. It is a derived data type. Strings are immutable. This means that once defined, they connot be changed.

#<b>Sequence Data Types</b><br>

In [ ]:
#List:[]
list = [1, 2, 3, True, ['sagor', 'pagol'], False, 'karent nai to ki korbi']
print(list);

[1, 2, 3, True, ['sagor', 'pagol'], False, 'karent nai to ki korbi']

In [3]:
print(list[-1]);

karent nai to ki korbi

In [4]:
print(list[4]);

['sagor', 'pagol']

In [5]:
print(list[5]);

False

In [6]:
print(list[4][1]);

pagol

In [7]:
type(list);

<b>Tuples: ()</b>

In [12]:
#Tuples: ()
tuples = (1, 2, 3, True, ['sagor', 'pagol'], False, 'karent nai to ki korbi')
print(tuples);

(1, 2, 3, True, ['sagor', 'pagol'], False, 'karent nai to ki korbi')

In [13]:
type(tuples);

In [ ]:
print(tuples[0:6]); #colon mean to; 0 to 6-1

(1, 2, 3, True, ['sagor', 'pagol'], False)

<b>Range: ()</b>

In [ ]:
#Range: ()
x = range(0, 20)
print(x)

range(0, 20)

In [16]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
x = range(10, 20)
print(x)

range(10, 20)

In [ ]:
for i in x: #2nd case
    print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
y = range(0, 31, 5) #3nd case
for i in y:
    print(i)

0
5
10
15
20
25
30

In [23]:
y = range(31, 0, -5) #4nd case
for i in y:
    print(i)

31
26
21
16
11
6
1

<b>Array: []</b>

In [25]:
#Array: []
import array as ar
a = ar.array([1, 2, 3, 4, 5, 6, 7])
print(a)

TypeError: array() argument 1 must be a unicode character, not list

In [31]:
#Array: []
import array as ar
a = ar.array('i',[1, 2, 3, 4, 5, 6, 7])
print(a)

array('i', [1, 2, 3, 4, 5, 6, 7])

In [ ]:
type(a)

array.array

In [32]:
a = ar.array('i',[1.5, 2, 3, 4, 5, 6, 7])
print(a)

TypeError: 'float' object cannot be interpreted as an integer

In [33]:
a = ar.array('f',[1.5, 2, 3, 4, 5, 6, 7])
print(a)

array('f', [1.5, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0])

<b>String</b>

In [38]:
#String
s = 'sagor karent nai akhn bad de pore koris'
print(s)
type(s)

sagor karent nai akhn bad de pore koris

str

<b>Set: {}</b>

In [40]:
#Set: ()
s = {1, 2, 3}
print(s)
type(s)

{1, 2, 3}

set

<b>Dictionary: {}</b>

In [41]:
#Dictionary
d = {
    'versity' : 'WUB Bangladesh',
    'dipatment' : 'CSE',
}
print(d)
type(d)

{'versity': 'WUB Bangladesh', 'dipatment': 'CSE'}

dict

In [42]:
print(d.keys())
print(d.values())

dict_keys(['versity', 'dipatment'])
dict_values(['WUB Bangladesh', 'CSE'])